<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templates 101</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h1>Mission to Mars</h1>
      <button>Scrape News</button>
    </div>
  <h1>Latest Mars News</h1>
  <h5>{{news_title}}</h5>
  <p>{{news_p}}</p>
  <p>{{featured_image_url}}</p>
  <p>{{mars_weather}}</p>
  <p>{{data}}</p>
  <p>{{hemisphere_image_urls}}</p>

  </div>
  </div>
</body>

</html>